<% if session[:user_id] %>
	<div class="right">
		<button name="logout_button" class="btn btn-default">Logout</button>
	</div>

	<div class="container margin-top-20">
		<div class="logo border-radius-10">
			Chirp! The Next Big Thang
		</div>
	</div>

	<%= form_tag do %>
		<div class="container margin-top-10">
			<div id="chirp-wrapper" class="border-radius-10">
				<div>
					<textarea type="text" id="chirp-text" name="chirp" class="form-control" placeholder="You can chirp here. Make sure it's less than 140 characters!"></textarea>
				</div>
				<div class="margin-top-10 txt-right">
					<button id="cancel-chirp-button" type="button" class="btn btn-default margin-right-10">Don't Chirp</button>
					<button type="submit" class="btn btn-primary">Chirp!</button>
				</div>
			</div>
		</div>
	<% end %>



	<div class="container margin-top-10">
		<% @chirps.each do |c| %>
			<div class="one-chirp border-radius-10">
				<div class="row">
					<div class="col-sm-2">
						<img src="/assets/birds/bird<%= c.pic %>.png" class="img-responsive" />
					</div>
					<div class="col-sm-10">
						<div class="margin-top-20">
							<%= c.chirp %>
						</div>
						<div class="margin-top-10 txt-right">
							<a href="/edit/<%= c.id %>" class="btn btn-primary">Edit Chirp</a>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="flickr_pagination">
		<%= will_paginate @chirps %>
	</div>



	<div id="instructions-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">How to Use</h4>
				</div>
				<div class="modal-body">
					To get started, hold down shift and type "CHIRP". Hold shift and type "NAH" if you want to cancel your chirp.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cool Beans</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<% end %>
