<!DOCTYPE html>
<html>

<head>
	<title>Chirp! The Next Big Social Network</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="style.css" />
</head>

<body>

<div class="container margin-top-20">
	<div class="logo border-radius-10">
		Chirp! The Next Big Thang
	</div>
</div>

<div class="container margin-top-10">
	<%= form_tag do %>
	<div id="chirp-wrapper" class="border-radius-10">
		<div>
			<textarea name="cheerp"id="chirp-text" class="form-control" placeholder="You can chirp here. Make sure it's less than 140 characters!"></textarea>
		</div>
		<div class="margin-top-10 txt-right">
			<button id="cancel-chirp-button" type="button" class="btn btn-default margin-right-10">Don't Chirp</button>
			<button type="submit" class="btn btn-primary">Chirp!</button>
		</div>
	</div>
	<% end %>
</div>

<div class="container margin-top-10">

	<% @tweets.each do |cheerps| %>
	<div class="one-chirp border-radius-10">
		<div class="row">
			<div class="col-sm-2">
				<img src="<%=cheerps.image%>" class="img-responsive" />
			</div>
			<div class="col-sm-10">
				<div class="margin-top-20">
					<%=cheerps.tweet%>
				</div>
				<div class="margin-top-10 txt-right">
					<a href="/edit/<%=cheerps.id%>" class="btn btn-primary">Edit Chirp</a>
				</div>
			</div>
		</div>
	</div>
	<% end %>

</div>

<div class="container" style="text-align:center">
<%= will_paginate @tweets, renderer: BootstrapPagination::Rails %>
</div>

<div id="instructions-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">How to Use</h4>
			</div>
			<div class="modal-body">
				To get started, hold down shift and type "CHIRP". Hold shift and type "NAH" if you want to cancel your chirp.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cool Beans</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="newchirp.js"></script>


</body>

</html>